/* AuditList */
.audit-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: auto;
  margin: 30px;
}

.audit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1.5rem));
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

/* Responsive AuditList */
@media (min-width: 768px) {
  .audit-list {
    margin: 30px;
    margin-top: 40px;
  }
}