.card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
}

.card-header{
    border-bottom: 1px solid #000000;
    padding: 10px 15px;
}

.card-title{
    color: #000000;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-body{
    padding: 15px;
}

.card-text{
    color: #000000;
    margin-bottom: 10px;
    line-height: 1.5;
}

.card-footer{
    border-top: 1px solid #000000;
    padding: 10px 15px;
}